@page
@model PhoneLineBling.Pages.AboutModel;

@{
    ViewData["Title"] = "Customer Statistics";
}

<h2>Customer Statistics</h2>

<table>
    <tr>
        <th>
            Membership Plan
        </th>
        <th>
            Customers
        </th>
    </tr>

    @foreach (var item in Model.Customer)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipPlan)
            </td>
            <td>
                @item.CustomerCount
            </td>
        </tr>

    }

</table>
